@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the grades checking portal</h1>
    <p>Download <a href="\Pages\grades.txt" download="grades.txt">you grades.</a>.</p>
<table>
  <tr>
    <th>Subject</th>
    <th>Grade</th>
    <th>Pass/Fail</th>
  </tr>
  <tr>
    <td>Calculus</td>
    <td>5.0</td>
    <td>Fail</td>
  </tr>
  <tr>
    <td>Databases</td>
    <td>1.0</td>
    <td>Pass</td>
  </tr>
</table> 

</div>
