@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the grades checking portal</h1>
    <p>Download <a asp-page-handler="DownloadFile">student_data.xlsx</a>.</p>
<table>
  <tr>
    <th>Subject</th>
    <th>Grade</th>
    <th>Pass/Fail</th>
  </tr>
  <tr>
    <td>Calculus</td>
    <td>5.0</td>
    <td>Fail</td>
  </tr>
  <tr>
    <td>Databases</td>
    <td>1.0</td>
    <td>Pass</td>
  </tr>
</table> 
 <p>Download <a href="grades.xlsx" download="grades.xlsx">you grades.</a>.</p>
 <p><a href="/Download/DownloadFile" download="example.txt">Download File</a></p>
</div>
